<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Add</title>
		<link rel="stylesheet" href="/static/layui/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/static/layui/plugins/font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		<div class="layui-main">
			<form class="layui-form" action="/user/adduser.htm?type=save" enctype="multipart/form-data" method="post">
				<div class="layui-form-item">
				    <label class="layui-form-label">用户姓名</label>
				    <div class="layui-input-block">
				      <input type="text" name="userName" placeholder="" autocomplete="off" class="layui-input" style="width: 250px;">
				    </div>
				</div>
				<div class="layui-form-item">
				    <label class="layui-form-label">用户密码</label>
				    <div class="layui-input-block">
				      <input type="password" name="userPwd" placeholder="" autocomplete="off" class="layui-input" style="width: 250px;">
				    </div>
				</div>
				<div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" type="submit" >立即提交</button>
		     		  <a href="/user/userlist.htm"  class="layui-btn">返回</a>
				    </div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="/static/layui/plugins/layui/layui.js"></script>
	</body>
</html>