<!-- load css -->
<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/list.css" media="all">
 <section class="layui-tab-content layui-main">
		<div class="site-demo-button" id="addBtn">
			<button class="layui-btn" style="width: 5%;position: absolute; left: 95%;" data-method="offset" data-type="auto">
			  <i class="layui-icon">&#xe608;</i> 添加
			</button>
		</div>
		<div id="layui-but2">
			<button class="layui-btn" style="width: 5%;position: absolute; left: 88%;" href="/user/userlist.htm">
			  <i class="layui-icon">&#x1002;</i> 刷新
			</button>
		</div>
		<form class="layui-form"  action="" id="userForm"  enctype="multipart/form-data">
			  <div class="layui-form-item" style="background-color: #c2c2c2; width: 250px;">
			    <label class="layui-form-label">用户姓名</label>
			    <div class="layui-input-block">
			      <input type="text" name="title" placeholder="" autocomplete="off" class="layui-input" style="width: 150px;">
			    </div>
			  </div>
			  <div class="layui-form-item">
			    <div class="layui-input-block">
			      <a class="layui-btn" style="width: 5%;position: absolute; left: 80%; top:-150% " href=""><i class="layui-icon">&#xe615;</i>搜索</a>
			    </div>
			  </div>
		</form>
		<table class="layui-table">
	        <thead>
	            <tr>
	            	<th>用户编号</th>
	            	<th>用户名称</th>
	            	<th>用户密码</th>
					<th>操作</th>
			   </tr>
	        </thead>
	        <tbody>
			#foreach($element in $pageInfo.list)
				<tr class="" >
				<td>$!{element.id}</td>
				<td>$!{element.userName}</td>
				<td>$!{element.userPwd}</td>
				<td>
				<div class="editBtn">
				<button class="layui-btn layui-btn-mini " data-method="offset" data-type="auto"><i class="layui-icon">&#xe642;</i>修改</button>
				</div>
				<div class="deleteBtn">
				<button class="layui-btn layui-btn-mini layui-btn-danger" id="deleteBtn" data-method="offset" data-type="auto"><i class="layui-icon" value="${element.id}">&#x1006;</i>删除</button>									
				</div>
				</td>
			</tr>
			 #end
	        </tbody>
		</table>
		<div class="layui-laypage" id="table-tool" style="position: relative; left: 35%;">
		#parse("/content/sys/page.html")
		</div>
</section>
<script type="text/javascript" src="/static/layui/lay/dest/layui.all.js"></script>
<script>
layui.use('layer', function(){ 
  var $ = layui.jquery, layer = layui.layer; 
  //触发事件
  var active = {
    offset: function(othis){
      var type = othis.data('type');
      layer.open({
        type: 2
        ,offset: type 
        ,title: '添加用户'
        ,area: ['1000px', '800px']
        ,id: 'LAY_demo'+type //防止重复弹出
        ,content: '/user/adduser.htm'
        ,btnAlign: 'c' //按钮居中
        ,shade: 0 //不显示遮罩
        ,zIndex: layer.zIndex 
        ,success: function(layero){
          layer.setTop(layero); 
        }
      });
    }
  }; 
  $('#addBtn .layui-btn').on('click', function(){
    var othis = $(this), method = othis.data('method');
    active[method] ? active[method].call(this, othis) : '';
  });
  var actives = {
    offset: function(othis){
      var type = othis.data('type');
      layer.open({
        type: 2
        ,offset: type 
        ,title: '修改用户'
        ,area: ['1000px', '800px']
        ,id: 'editBtn'+type //防止重复弹出
        ,content: '/user/updateuser.htm'
        ,btnAlign: 'c' //按钮居中
        ,shade: 0 //不显示遮罩
        ,zIndex: layer.zIndex 
        ,success: function(layero){
          layer.setTop(layero); 
        }
      });
    }
  };
  $('.editBtn .layui-btn').on('click', function(){
    var othis = $(this), method = othis.data('method');
    actives[method] ? actives[method].call(this, othis) : '';
  });
});
</script>
