<!DOCTYPE html>
<html>

	<head>
		#parse("content/base/style.html")
		<link rel="stylesheet" href="static/layui/css/table.css" />
	</head>
	<body>
		 <div class="admin-main">
		 	<blockquote class="layui-elem-quote">
		 		<form id="search" action="user/userlist.htm">
				  <div class="layui-inline">
				    <div class="layui-input-inline">
				      <input type="text" name="search" autocomplete="off" class="layui-input" placeholder="查询用户名称" value="$!{search}">
				    </div>
				  </div>
				<button class="layui-btn" lay-submit lay-filter="search">
					<i class="layui-icon">&#xe615;</i> 搜索
				</button>
				<a href="/user/userform.htm?oper=add" class="layui-btn"  >
					<i class="layui-icon">&#xe608;</i> 添加信息
				</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>数据列表</legend>
					 <div class="layui-field-box">
						<table class="layui-table">
					        <thead>
					            <tr>
					            	<th>用户编号</th>
					            	<th>用户名称</th>
					            	<th>用户密码</th>
									<th>操作</th>
							   </tr>
					        </thead>
					        <tbody>
							#foreach($element in $pageInfo.list)
								<tr class="" >
								<td>$!{element.id}</td>
								<td>$!{element.userName}</td>
								<td>$!{element.userPwd}</td>
								<td>
								<a href="/user/userform.htm?oper=inf&userId=${element.id}" class="layui-btn layui-btn-mini " ><i class="layui-icon">&#xe642;</i>修改</a>
								<button  type="button" class="layui-btn layui-btn-mini layui-btn-danger delUser"  data-id="$!{element.id}" ><i class="layui-icon">&#x1006;</i>删除</button>									
								</td>
							</tr>
							 #end
					       </tbody>
						</table>
					</div>
			</fieldset>	
			<div class="layui-laypage" style="position: relative; left: 35%;">
				<div id="page" class="page" data-action="user/userlist.htm">
				</div>
			</div>
		</div>
		#parse("content/base/script.html")
		#parse("content/base/page.html")
		<script type="text/javascript" src="static/js/pages/user/userlist.js"></script>
	</body>
</html>