<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:res.properties" />
	<bean id="poolConfigRedis" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="200" /> 
		<property name="maxTotal" value="10000" />
		<property name="maxWaitMillis" value="3000" />
		<property name="testOnBorrow" value="true" />
	</bean>

	<bean id="connectionFactoryRedis"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis_url}" p:port="7070" p:password="${redis_pwd}"
		p:pool-config-ref="poolConfigRedis" />

	
	<bean id="fastjsonSerializer"
		class="cn.cq196.ty.base.cache.serializer.RedisFastJsonSerializer" />
	<bean id="redisStringSerializer" class="cn.cq196.ty.base.cache.serializer.RedisStringSerializer" />

	
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="connectionFactoryRedis" />
		<property name="keySerializer" ref="fastjsonSerializer" />
		<property name="valueSerializer" ref="fastjsonSerializer" />
	</bean>

</beans>
