<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidingliu.pjt.data.mapper.sys.SysConfigerMapper">
	<resultMap id="BaseResultMap" type="com.yidingliu.pjt.data.bean.sys.SysConfiger">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="updateDate" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="langTname" property="langTname" jdbcType="CHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, createDate, updateDate, status, name, value, remarks, type, langTname
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.yidingliu.pjt.data.mapper.example.sys.SysConfigerExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sysconfiger
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sysconfiger
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sysconfiger
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.yidingliu.pjt.data.mapper.example.sys.SysConfigerExample">
		delete from sysconfiger
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.yidingliu.pjt.data.bean.sys.SysConfiger">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into sysconfiger (id, createDate, updateDate,
		status, name,
		value,
		remarks,type,langTname)
		values (#{id,jdbcType=BIGINT},
		#{createDate,jdbcType=TIMESTAMP},
		#{updateDate,jdbcType=TIMESTAMP},
		#{status,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR},#{type,jdbcType=INTEGER}, #{langTname,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yidingliu.pjt.data.bean.sys.SysConfiger">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into sysconfiger
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createDate != null">
				createDate,
			</if>
			<if test="updateDate != null">
				updateDate,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="value != null">
				value,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="langTname != null">
				langTname,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				#{value,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="langTname != null">
				#{langTname,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.yidingliu.pjt.data.mapper.example.sys.SysConfigerExample"
		resultType="java.lang.Integer">
		select count(*) from sysconfiger
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update sysconfiger
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.createDate != null">
				createDate = #{record.createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateDate != null">
				updateDate = #{record.updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=TINYINT},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.value != null">
				value = #{record.value,jdbcType=VARCHAR},
			</if>
			<if test="record.remarks != null">
				remarks = #{record.remarks,jdbcType=VARCHAR},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=INTEGER},
			</if>
			<if test="record.langTname != null">
				type = #{record.langTname,jdbcType=CHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update sysconfiger
		set id = #{record.id,jdbcType=BIGINT},
		createDate =
		#{record.createDate,jdbcType=TIMESTAMP},
		updateDate =
		#{record.updateDate,jdbcType=TIMESTAMP},
		status =
		#{record.status,jdbcType=TINYINT},
		name =
		#{record.name,jdbcType=VARCHAR},
		value =
		#{record.value,jdbcType=VARCHAR},
		remarks =
		#{record.remarks,jdbcType=VARCHAR},
		type =
		#{record.type,jdbcType=INTEGER},
		langTname =
		#{record.langTname,jdbcType=CHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.yidingliu.pjt.data.bean.sys.SysConfiger">
		update sysconfiger
		<set>
			<if test="createDate != null">
				createDate = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				updateDate = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				value = #{value,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="langTname != null">
				langTname = #{langTname,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yidingliu.pjt.data.bean.sys.SysConfiger">
		update sysconfiger
		set createDate = #{createDate,jdbcType=TIMESTAMP},
		updateDate =
		#{updateDate,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=TINYINT},
		name = #{name,jdbcType=VARCHAR},
		value = #{value,jdbcType=VARCHAR},
		remarks = #{remarks,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		langTname = #{langTname,jdbcType=CHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<!--  获取系统配置项（值） -->
	<select id="selectSysConfigerVersion" resultType="java.util.Map" parameterType="java.util.Map">
	  	SELECT value FROM sysconfiger s 
	  	WHERE s.name = #{type,jdbcType=VARCHAR} AND 
	  	s.langTname = #{langTname,jdbcType=CHAR} AND s.`status` = 0
	</select>
	
</mapper>