@charset "utf-8";
/*页面整体 */
.layui-body{
	height: 1000px;
	width: 1500px;
	position: absolute;
	padding: 10px;
	
}

/*页面主体头部*/
.layui-body .layui-header{
	height: 5%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #393D49;
}
/*页面主体内容*/
.layui-body .layui-main {
	height: 95%;
	position: absolute;
	top: 10%;
	left: 0px;
}
/*页面主体内容头部*/
.layui-body .layui-main .layui-main-header{
	height:20%;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*页面主体类容主体*/
.layui-body .layui-main .layui-main-item {
	height: 80%;
	position: absolute;
	top: 13%;
	left: 0px;
}
/*搜索表单*/
.layui-body .layui-main .layui-main-header .layui-form{
	width:96%;
	height:50%;
	position: absolute;
	top: 2%;
	left: 2%;
}
/*主体表格*/
.layui-table{
	width:96%;
	position: absolute;
	left: 2%;
}
.layui-body .layui-main .layui-main-header .layui-form .layui-form-item{
	width: 20%;
	height: 100%;
	position: absolute;
	left:-80%;
}
.layui-body .layui-main .layui-main-header .layui-form .layui-form-items{
	width: 20%;
	height: 100%;
	position: absolute;
	left: -40%;
}
.layui-body .layui-main .layui-main-header .layui-form .layui-form-item .layui-form-label{
	width:40%;
	height:55%;
	position: absolute;
	left: -55%;
	top: 12%;
	background-color: #1E9FFF;
}
.layui-body .layui-main .layui-main-header .layui-form .layui-form-item .layui-form-block{
	width:57%;
	height:55%;
	position: absolute;
	top:11%;
	left:41%;
}
.layui-body .layui-main .layui-main-header .layui-form .layui-form-item .layui-form-block .layui-input{
	width:100%;
	height:90%;
	position: absolute;
	top:2px;
	left:-15%;
}

.layui-body .layui-main .layui-main-header .layui-form .layui-form-items .layui-but-normal{
	width: 40%;
	height: 52%;
	position: absolute;
	top: 12%;
	background-color: #1E9FFF;
}
.layui-laypage{
	width:40%;
	height:0%;
	position: absolute;
	top: 95%;
	left:30%;
}
