@charset "utf-8";
/*页面整体 */
.layui-tab-content .layui-main{
	height: 800px;
	width: 1500px;
	position: absolute;
	left: 3%;
}

/*页面主体头部*/
.layui-tab-content .layui-main .layui-header{
	height: 2%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #393D49;
}
/*页面主体内容*/
.layui-tab-content .layui-main .layui-body {
	height: 85%;
	position: absolute;
	left: 0px;
	border-style: none;
}
/*页面主体内容头部*/
.layui-tab-content .layui-main .layui-body .layui-main-header{
	height:13%;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*页面主体类容主体*/
.layui-tab-content .layui-main .layui-body .layui-main-item {
	height: 80%;
	position: absolute;
	top: 13%;
	left: 0px;
}
/*搜索表单*/
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form{
	width:80%;
	height:100%;
	position: absolute;
	top: 0%;
	left: 2%;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-but{
	width:10%;
	height:75%;
	position: absolute;
	top: 2%;
	left: 85%;
	background-color: #009688;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-but .layui-item{
	width:80%;
	height:75%;
	position: absolute;
	top: 12%;
	left: 5%;
}
/*主体表格*/
.layui-table{
	width:96%;
	position: absolute;
	left: 2%;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form .layui-form-item{
	width: 30%;
	height: 100%;
	position: absolute;
	left:1%;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form .layui-form-items{
	width: 10%;
	height: 100%;
	position: absolute;
	left: 31%;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form .layui-form-item .layui-form-label{
	width:35%;
	height:60%;
	position: absolute;
	left: -5%;
	top: 20%;
	background-color: #c2c2c2;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form .layui-form-item .layui-form-block{
	width:57%;
	height:60%;
	position: absolute;
	top:20%;
	left:26%;
	background-color: #c2c2c2;
}
.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form .layui-form-item .layui-form-block .layui-input{
	width:90%;
	height:52%;
	position: absolute;
	left:0%;
	background-color: white;
}

.layui-tab-content .layui-main .layui-body .layui-main-header .layui-form .layui-form-items .layui-but-normal{
	width: 80%;
	height: 60%;
	position: absolute;
	top: 20%;
	left:1%;
	background-color: #1E9FFF;
}
.layui-laypage{
	width:60%;
	height:0%;
	position: absolute;
	top: 91%;
	left:20%;
}
