<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>CMS后台登录</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<!-- load css -->
	<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/css/pages/login.css" media="all">
</head>
<body>
<div class="layui-layout layui-layout-login">
	<h1>
		 <strong>CMS管理系统后台</strong>
		 <em>Management System</em>
	</h1>
	<form class="layui-form" action="auth/login.htm" method="post">
		<div class="layui-form-item">
		    <label class="layui-form-label">账号</label>
		    <div class="layui-input-inline">
		      <input type="text" name="loginName" lay-verify="required" placeholder="请输入登录账号" autocomplete="off" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">密码</label>
		    <div class="layui-input-inline">
		      <input type="password" name="loginPassword" lay-verify="pass" placeholder="请输入登录密码" autocomplete="off" class="layui-input">
		    </div>
		</div>
		
	   <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit="" lay-filter="sigin">立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
    </form>
    <div class="layui-login-text">
    	<p>© 2017-2018 196SF 版权所有</p>
        <p><a href="" title=""></a></p>
    </div>
</div>
<script type="text/javascript" src="/static/js/front.app.js"></script>
<script type="text/javascript" src="/static/js/pages/login.js"></script>
</body>
</html>