
<div class="layui-box layui-laypage layui-laypage-defalut" id="layui-laypage-0">
	#if($pageInfo.getPageNum() == 1 || $pageInfo.getPages() == 0)
	<a href="#" class="layui-laypage-first" title="首页" data-page="$!{pageInfo.firstPage}">首页</a>
	<a href="#" class="layui-laypage-last"  data-page="$!{pageInfo.prePage}">上一页</a>
	#else
	<a href="javascript:toPage(jQuery('#pageNow'), 1, jQuery('form:first'));" class="layui-laypage-first" title="首页" data-page="$!{pageInfo.firstPage}">首页</a>
	<a href="javascript:toPage(jQuery('#pageNow'), ${pageInfo.getPrePage()}, jQuery('form:first'));" class="layui-laypage-prev"  data-page="$!{pageInfo.prePage}">上一页</a>
	#end
	#set($sliders = $pageInfo.getNavigatepageNums())
		#if($sliders)
			#foreach($slider in $sliders)
			<a href="javascript:toPage(jQuery('#pageNow'), ${slider}, jQuery('form:first'));" class="layui-laypage-curr" data-page="$!{pageInfo.pageNum}">${slider}</a>
			#end
		#end
	#if($pageInfo.getPageNum() != $pageInfo.getPages())
	<a href="javascript:toPage(jQuery('#pageNow'), ${pageInfo.getNextPage()}, jQuery('form:first'));" class="layui-laypage-next"  data-page="$!{pageInfo.nextPage}">下一页</a>
	<a href="javascript:toPage(jQuery('#pageNow'), ${pageInfo.getPages()}, jQuery('form:first'));" class="layui-laypage-last" title="尾页" data-page="$!{pageInfo.lastPage}">末页</a>
	#else
	<a href="#" class="layui-laypage-next"  data-page="$!{pageInfo.nextPage}">下一页</a>
	<a href="#" class="layui-laypage-last" title="尾页" data-page="$!{pageInfo.lastPage}">末页</a>
	#end
</div>
 

<!-- 传给服务器的页码 -->
<input name="page" id="pageNow" type="hidden" value="1" />
</form>
<script>
	function toPage(num_obj, num_val, form_obj){
		if(num_val==""){
			return false;
		}
		else{
			var reg = new RegExp("^[0-9]*$");
			if(!reg.test(num_val))
			{
			    alert("页码不合法");
		        return false;
		    }
		}
		if(${pageInfo.getPages()} < num_val)
		{
		    return false;
		}
		if (form_obj.length > 0){
			
			num_obj.val(num_val);
			form_obj.ajaxSubmit(function(a){
				
				response(a, $.content);
			});
/* 			form_obj.submit(); */
			return true;
		}
	} 
</script>