#set($user=$LOGIN_USER_TOKEN)
<ul class="layui-nav layui-nav-tree" >
	<li class="layui-nav-item layui-this">
		<a href="" data-url="">
		    <i class="iconfont icon-home1" data-icon='icon-home1'></i>
			<span>后台首页</span>
		</a>
	</li>
	#foreach($competece in $user.role.competences)
		#if($competece.displayMenu && !$competece.parent)
			<li class="layui-nav-item layui-nav-itemed">
				<a href="${competece.url}">
				<i class="layui-icon">${competece.icon}</i>
				<span class="">${competece.menuName}</span>
				<em class="layui-nav-more"></em>
				</a>
				#if($competece.hasChild())
					<dl class="layui-nav-child">
						#foreach($competece3 in $user.role.competences)
							#foreach($competeceChild in $competece.children)
								#if($competece3.url == $competeceChild.url && $competeceChild.displayMenu)
								<dd>
									<a href="${competeceChild.url}">${competeceChild.menuName}</a>
								</dd>
								#end
							#end
						#end
					</dl>
				#end <!-- end of hasChild -->
			</li>
		#end <!-- end of displayMenu -->
	#end <!-- end of foreach -->
</ul>